# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
.pnp
.env.local
.env.development.local
.env.test.local
.env.production.local

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local

